.root {
    width: 100%;
    height: calc(100vh - 136px);
    overflow: hidden;

    .tools {
        padding: 8px;
        display: flex;
        background-color: #eee;

        &__left {
            flex: 1;
        }

        &__right {
            line-height: 32px;
        }

        &__left,
        &__right {
            &--item {
                span:first-child {
                    margin-left: 24px;
                    margin-right: 6px;
                }

                &:hover {
                    cursor: pointer;
                    color: #007bff;
                }
            }

            &--actived {
                color: #007bff;
            }
        }
    }
}
